---
import CallToAction from "./CallToAction.astro";
import Icon from "./Icon.astro";
import Share from "./Share.astro";
---

<aside>
  <h2>Interested in working together?</h2>
  <CallToAction
    href="mailto:asadullah.jan@outlook.com?subject=Inquiry%20from%20Portfolio&body=Hi%2C%0A%0AI%E2%80%99m%20reaching%20out%20from%20[Your%20Company%20Name].%20When%20would%20be%20a%20good%20time%20for%20us%20to%20connect%3F%0A%0ARegards%2C%0A[Your%20Name]"
  >
    Send Me a Message
    <Icon
      icon="paper-plane-tilt"
      size="1.2em"
    />
  </CallToAction>
</aside>

<style>
  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    border-top: 1px solid var(--gray-800);
    border-bottom: 1px solid var(--gray-800);
    padding: 5rem 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  h2 {
    font-size: var(--text-xl);
    text-align: center;
    max-width: 15ch;
  }

  @media (min-width: 50em) {
    aside {
      padding: 7.5rem;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    h2 {
      font-size: var(--text-3xl);
      text-align: left;
    }
  }
</style>
